.edit-page-wrapper {
	width: 760px;
	margin: 0 auto;
}

.edit-page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-page-action-btns {
	display: flex;
	width: 100px;
	justify-content: space-between;
}

.edit-page-general {
	padding: 15px 20px;
}

.edit-page-body {
	margin-bottom: 50px;
}

.edit-fields-wrapper {
	width: 600px;
	margin: 0 auto;
}

.edit-input-row {
	display: flex;
	justify-content: space-between;
}

.edit-page-btns {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.edit-file-upload {
	margin: 0 auto;
}