.form-fields {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form-fields > * {
	margin-bottom: 25px;
}

.opp-form {
	padding-bottom: 70px;
}

.form-buttons {
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top: 20px;
}

.form-buttons > * {
	margin: 0 3px;
}